@{
    ViewData["Title"] = "";
}

<div class="background">
    <div class="notice noticeMobile">
        <span style="display: block; width: 100%; text-align:center; background-color: gold;">We're doing some brief maintenance that affects our online menu. Give us a bit and it'll be back!</span>
    </div>
</div>