@using ChrisCafe.Models;
@using ChrisCafe.Models.ViewModels;
@model ChrisCafe.Models.ViewModels.FullMenu;
@{
    ViewData["Title"] = "Breakfast & Lunch Menu";
}
<div class="menu">
    @*<div class="menuNav">
            <div class="navCategory">Breakfast</div>
            <div class="navCategory">Lunch</div>
            <div class="navCategory">Lunch Specials</div>
        </div>*@
    <div class="menuNote">
        <span>Breakfast and lunch options are both available any time!</span>
    </div>

    @if (Model.ShowBreakfast)
    {
        @await Html.PartialAsync("_MenuCategory.cshtml", Model.BreakfastMenu)
    }

    @if (Model.ShowLunch)
    {
        @await Html.PartialAsync("_MenuCategory.cshtml", Model.LunchMenu)
    }

    @if (Model.ShowBeverages)
    {
        @await Html.PartialAsync("_MenuCategory.cshtml", Model.BeveragesMenu)
    }
</div>
