<footer>
    <div class="container-fluid footer-minimal">
        <div class="row justify-content-md-center">
            <div class="col-xs-6 col-sm-6 col-md-4">
                <ul class="list-group">
                    <li class="list-group-item"><span class="list-header">Chris' Cafe</span></li>
                    <li class="list-group-item"><span class="text-muted">&copy; Chris' Cafe</span></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-1 align-self-center">
                @await Html.PartialAsync("~/Views/Shared/Partials/SocialMediaIcons.cshtml")
            </div>
        </div>
    </div>
</footer>