@{
    ViewData["Title"] = "Contact & Location";
}

<div class="row about justify-content-md-center">
    <div class="col-sm-12 col-md-6">
        <div class="container">
            <div class="mapDimensions">
                <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJAcXEoyQDU4cRI6yWHOkCsQ0&key=AIzaSyCeeDJynikbWCUceyFQxAUnirKCT8El3dA" allowfullscreen></iframe>
            </div>
            <p>You can find us on Antelope Drive, just East of Main Street in Clearfield.<br />Parking is available all around our building.</p>
        </div>
    </div>

    <div class="container-fluid col-sm-12 col-md-4">
        <div class="row">
            @await Html.PartialAsync("~/Views/Shared/Partials/ContactLocation.cshtml")
        </div>
        <div class="row social-links-standalone">
            @await Html.PartialAsync("~/Views/Shared/Partials/SocialMediaIcons.cshtml")
        </div>
        <div class="row">
            @await Html.PartialAsync("~/Views/Shared/Partials/Hours.cshtml")
        </div>
    </div>
</div>