<div style="padding-top: 16px;">
    <div class="row justify-content-md-center" style="margin-right: 0;">
        <div class="col col-sm-12 col-md-8 alert alert-success text-center font-weight-bold alert-container" role="alert">
            <span class="icon size-32 christmas-tree left"></span>
            <span class="alert-message">We are open for our regular hours on Christmas Eve!<br />We will be closed Christmas Day to spend time with family. We will reopen on Dec. 26th.</span>
            <span class="icon size-32 candy-cane right"></span>
        </div>
    </div>
</div>