<div style="padding-top: 16px;">
    <div class="row justify-content-md-center" style="margin-right: 0;">
        <div class="col col-sm-12 col-md-8 alert alert-primary text-center font-weight-bold" role="alert">
            <span class="icon none left"></span>
            We are open Labor Day for our regular business hours: 6:30 AM - 2:30 PM!
            <span class="icon none right"></span>
        </div>
    </div>
</div>