<div style="padding-top: 16px;">
    <div class="row justify-content-md-center" style="margin-right: 0;">
        <div class="col col-sm-12 col-md-8 alert alert-primary text-center font-weight-bold alert-container" role="alert">
            <span class="icon turkey left"></span>
            <span class="alert-message">We will be closed on Thanksgiving - November 28.<br />Join us on Friday, November 29 during regular hours!</span>
            <span class="icon cornucopia right"></span>
        </div>
    </div>
</div>