<ul class="list-group">
    <li class="list-group-item"><span class="list-header">Contact</span></li>
    <li class="list-group-item">
        <div class="icon-align-helper">
            <span class="icon size-14 phone"></span>
            <a href="tel:8012921500"><span>(801) 292-1500</span></a>
        </div>
    </li>
    <li class="list-group-item">
        <div class="icon-align-helper">
            <span class="icon size-16 location"></span>
            @*<a class="mapLink" href="https://goo.gl/maps/nGaYYAT6XYr"><span>56 E 1700 S<br />Clearfield, UT 84015</span></a>*@
            <span>56 E 1700 S<br />Clearfield, UT 84015</span>
        </div>
    </li>
</ul>
