<div class="row justify-content-md-center" style="margin-right: 0;">
    <div class="col col-sm-12 col-md-8 alert alert-primary text-center font-weight-bold" role="alert">
        <p>Starting in June, we are temporarily discontinuing dinner.</p>
        <p>We will resume serving dinner this Fall!</p>
    </div>
</div>