<ul class="list-group">
    <li class="list-group-item"><span class="list-header">Hours</span></li>
    <li class="list-group-item">
        <div class="icon-align-helper">
            <span class="icon size-14 calendar"></span>
            <span>Open 7 Days a Week.</span>
        </div>
    </li>
    <li class="list-group-item icon-align-helper">
        <div class="icon-align-helper">
            <span class="icon size-14 clock"></span>
            <span>Breakfast and Lunch</span>
        </div>
        <ul class="list-group">
            <li class="list-group-item">Monday - Friday: 6:30 AM - 2:00 PM</li>
            <li class="list-group-item">Saturday: 6:30 AM - 2:00 PM</li>
            <li class="list-group-item">Sunday: 7:00 AM - 2:00 PM</li>
        </ul>
    </li>
</ul>