<div class="social-links">
    <a href="https://www.facebook.com/Chris-Cafe-914249608759266"><span class="icon facebook"></span></a>
    <a href="https://www.instagram.com/chriscafeclearfield/"><span class="icon instagram"></span></a>
</div>